<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Premier League Top 10 goalscorers</title>
</head>
<link rel="stylesheet" type="text/css" media="all"
	href="../../../css/style.css" th:href="@{/css/style.css}" />
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="../js/goal-scorers.js" charset="utf-8"></script>
<body>
	<div ng-app="goalScorers" ng-controller="GoalScorersCtrl">
		<ul>
			<li ng-repeat="x in myData">{{ x.name + ' - '+ x.teamName }}</li>
		</ul>
		<bars-chart chart-data="myData"></bars-chart>
	</div>
</body>
</html>