<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liverpool FC statistics</title>
</head>
<link rel="stylesheet" type="text/css" media="all"
	href="../../../css/style.css" th:href="@{/css/style.css}" />
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="../js/statistics.js" charset="utf-8"></script>
<body>
	<div>
		<a href="home">Home</a>
	</div>
	<br>
	<div ng-app="statistics" ng-controller="LiverpoolStatsCtrl">
		<label>Liverpool FC Premier league statistics</label>
		<table>
			<tr>
				<th>Match day</th>
				<th>Date</th>
				<th>Game</th>
				<th>Result</th>
				<th>Outcome</th>
			</tr>
			<tr ng-repeat="x in plData">
				<td>{{ x.matchday }}</td>
				<td>{{ x.matchDate.split('T')[0] }}</td>
				<td>{{ x.host ? ('Liverpool FC - ' + x.opponent) : (x.opponent
					+ ' - Liverpool FC') }}</td>
				<td>{{ x.homeTeamScore + ' - ' + x.awayTeamScore }}</td>
				<td>{{ x.outcome }}</td>
			</tr>
		</table>
		<pie-chart chart-data="plData"></pie-chart>
		<br>
		
		<label>Liverpool FC UEFA Champions league statistics</label>
		<table>
			<tr>
				<th>Match day</th>
				<th>Date</th>
				<th>Game</th>
				<th>Result</th>
				<th>Outcome</th>
			</tr>
			<tr ng-repeat="x in clData">
				<td>{{ x.matchday }}</td>
				<td>{{ x.matchDate.split('T')[0] }}</td>
				<td>{{ x.host ? ('Liverpool FC - ' + x.opponent) : (x.opponent
					+ ' - Liverpool FC') }}</td>
				<td>{{ x.homeTeamScore + ' - ' + x.awayTeamScore }}</td>
				<td>{{ x.outcome }}</td>
			</tr>
		</table>
		<pie-chart chart-data="clData"></pie-chart>
	</div>
</body>
</html>